<template>
  <div id="wrapper">
    <img id="logo" src="~@/assets/logo.png" alt="electron-vue">
    <div class="doc">
      <div class="title">
        Welcome to your new AWESOME project!
      </div>
      <button class="alt" @click="selectDir()">Open Dir</button>
      <div id="selected-file">You did select: {{path}}</div>
    </div>
    <main>
      <div class="left-side doc">
        <ul>
          <li v-for="f in files">
            <span v-if="f.index === selected">⇒</span>
            {{ f.fileName }}
          </li>
        </ul>
      </div>

      <div class="right-side">
        <p>{{files[selected].fileName}}</p>
        <svg id="diag-svg" width="320px" height="240px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
           <image x="0" y="0" width="320" height="240" v-bind:xlink:href="files[selected].image" />
        </svg>
        <p>Throttle: {{files[selected].vector.throttle}}</p>
        <p>Angle: {{files[selected].vector.angle}}</p>
        <p v-if="files[selected].new_vector">NEW Throttle: {{files[selected].new_vector.throttle}}</p>
        <p v-if="files[selected].new_vector">NEW Angle: {{files[selected].new_vector.angle}}</p>
        <button class="alt" @click="save()">save</button>
        <p v-if="files[selected].problem">!!! PROBLEM !!!</p>
        <p v-if="files[selected].saved">SAVED</p>        
      </div>
    </main>
  </div>
</template>

<script>
const ipc = require('electron').ipcRenderer
const fs = require('fs')
const naturalSort = require('javascript-natural-sort')
// snap does some fancy global variable stuff...
const Snap = require(`imports-loader?this=>window,fix=>module.exports=0!snapsvg/dist/snap.svg.js`)

const width = 320
const height = 240

function vectorize (throttle, angle) {
  let len = throttle * 100
  let deg = 90 * Math.abs(angle)
  let degRad = Math.cos(deg / 180 * Math.PI)
  let dx = angle !== 0 ? Math.cos(degRad) * len : 0
  let dy = Math.sin(degRad) * len
  return {
    y: height - dy,
    x: width / 2 + Math.sign(angle) * dx,
    throttle: throttle,
    angle: angle
  }
}

function unvectorize (x, y) {
  let b = x - width / 2
  let a = height - y
  let c = Math.sqrt(a * a + b * b)
  return {
    x: x,
    y: y,
    throttle: c / 100,
    angle: Math.asin(b / c) / Math.PI * 180 / 90
  }
}

function distance (x1, y1, x2, y2) {
  let a = x1 - x2
  let b = y1 - y2
  return Math.sqrt(a * a + b * b)
}

function initSVG () {
  const s = Snap('#diag-svg')

  let linex1 = width / 2
  let liney1 = height
  let linex2 = width / 2
  let liney2 = height - 100

  let radius = 20

  let backupLine = s.line(linex1, liney1, linex2, liney2)
  backupLine.attr({
    stroke: '#F44',
    strokeWidth: 10,
    strokeLinecap: 'round',
    opacity: 0.8
  })

  let circle2 = s.circle(linex2, liney2, radius)
  let line = s.line(linex1, liney1, linex2, liney2)
  line.attr({
    stroke: '#000',
    strokeWidth: 10,
    strokeLinecap: 'round'
  })

  let updateVector = function (x, y) {
    circle2.attr({
      cx: x,
      cy: y
    })
    line.attr({
      x2: x,
      y2: y
    })
  }

  this.updateVector = function (x, y) {
    linex2 = x
    liney2 = y
    updateVector(x, y)
    backupLine.attr({
      x2: x,
      y2: y
    })
  }

  let move2 = function (dx, dy) {
    let x2 = linex2 + dx
    let y2 = liney2 + dy
    if (distance(linex1, liney1, x2, y2) > 100) {
      return
    }
    updateVector(x2, y2)
  }

  let start = function () {
    // this.data('origTransform', this.transform().local)
  }
  let app = this
  let stop = () => {
    linex1 = +line.attr('x1')
    liney1 = +line.attr('y1')
    linex2 = +line.attr('x2')
    liney2 = +line.attr('y2')
    app.update(unvectorize(line.attr('x2'), line.attr('y2')))
  }

  circle2.drag(move2, start, stop)
}

function initHotkeys () {
  window.addEventListener(
    'keydown',
    ev => {
      if (ev.key === 'ArrowDown') {
        if (this.selected < this.files.length - 1) {
          this.selected++
        }
      } else if (ev.key === 'ArrowUp') {
        if (this.selected > 0) {
          this.selected--
        }
      } else if (ev.key === 'ArrowRight') {
        while (this.selected < this.files.length - 1) {
          this.selected++
          if (this.files[this.selected].problem) {
            break
          }
        }
      } else if (ev.key === 'ArrowLeft') {
        while (this.selected > 0) {
          this.selected--
          if (this.files[this.selected].problem) {
            break
          }
        }
      } else {
        return false
      }
      let vec = this.files[this.selected].vector
      this.updateVector(vec.x, vec.y)
      ev.preventDefault()
      return true
    },
    true
  )
}

function initDirDialog () {
  ipc.on('selected-directory', (event, path) => {
    try {
      this.path = path + '/'
      let files = fs.readdirSync(this.path, 'utf8')
      this.files = []
      let i = 0
      for (let f of files.sort(naturalSort)) {
        if (/.json$/.test(f) && f !== 'meta.json') {
          let tubData = JSON.parse(fs.readFileSync(this.path + f, 'utf8'))
          let tub = {
            fileName: f,
            path: this.path + f,
            index: i++,
            tub: tubData,
            image: this.path + tubData['cam/image_array'],
            vector: vectorize(tubData['user/throttle'], tubData['user/angle']),
            problem: tubData['problem'],
            new_vector: {},
            saved: false
          }
          this.files.push(tub)
        }
      }
      this.files[0].selected = true
    } catch (e) {
      alert(`Failed to read dir: ${e}`)
    }
  })
}

let app = {
  name: 'landing-page',
  components: {},
  methods: {
    open (link) {
      this.$electron.shell.openExternal(link)
    },
    selectDir () {
      ipc.send('open-file-dialog')
    },
    update (vec) {
      this.files[this.selected].new_vector = vec
    },
    save () {
      let d = this.files[this.selected]
      d.tub['user/throttle'] = d.new_vector.throttle
      d.tub['user/angle'] = d.new_vector.angle
      let json = JSON.stringify(d.tub)
      try {
        fs.writeFileSync(d.path, json, 'utf-8')
        d.saved = true
      } catch (e) {
        alert(`Failed to save file: ${e}`)
      }
    }
  },
  mounted: function () {
    initSVG.call(this)
    initHotkeys.call(this)
    initDirDialog.call(this)
  },
  data: function () {
    let data = {
      path: '',
      selected: 0,
      files: [{ vector: {} }]
    }
    return data
  }
}
export default app
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
  background: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255, 1) 40%,
    rgba(229, 229, 229, 0.9) 100%
  );
  height: 100vh;
  padding: 60px 80px;
  width: 100vw;
}

#logo {
  height: auto;
  margin-bottom: 20px;
  width: 420px;
}

main {
  display: flex;
  justify-content: space-between;
}

main > div {
  flex-basis: 50%;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
  margin: 0.5em;
}

button.alt {
  color: #42b983;
  background-color: transparent;
}
</style>
