<template>
  <div id="app">
    <landing-page></landing-page>
  </div>
</template>

<script>
  import LandingPage from '@/components/LandingPage'

  export default {
    name: 'donkey-label',
    components: {
      LandingPage
    }
  }
</script>

<style>
  /* CSS */
</style>
